
@{
    Layout = null;

}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



<div class="container">
    <form method="post">

        <label>Müşteri Adı</label>
        <input type="text" class="form-control" asp-forr="CustomerName"/>
        <br/>
        <label>Çekilmek İstenen Tutar</label>
        <input type="text" class="form-control" asp-forr="CustomerName" />
        <br />
        <button class="btn btn-danger">Para Çek</button>
</form>



</div>